DATABASE_URL=postgresql://postgres:password@localhost:5432/ssw_db

PORT=5001

DB_HOST=localhost
DB_PORT=5432

DB_USER=postgres
DB_PASSWORD=password
DB_NAME=ssw_db

JWT_SECRET=supersecretjwtmoownigga1234dogeky67t6gy67jsldkfjlkjsdf
JWT_REFRESH_SECRET=insanesecretmyfrienddoranekoisgayandheiscat
COOKIE_SECRET=supersecretcookie

CLIENT_URL=http://localhost:3000

DOMAIN_NAME=https://someweb.com

OPENAI_API_KEY=asdf

NODE_ENV=development